* {
    margin:0;
    padding:0;
}
body {
	overflow:scroll; 
    font-family:"맑은 고딕", "돋움";
    font-size:12px;
    color:#000000;
    background-color:white;
}
ul {
    list-style-type:none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration:none;
    color:#000000;
}
.clear {
    clear:both;
}
/* ---------- 헤더 ------------- */
header {
    height:128px;
}
header #top {
    width:990px;
    margin:0 auto;
/* border:solid 1px #0000ff; */
}
header #logo {
    float:left;
    margin:30px 0 0 0;
/* border:solid 1px #000000; */
}
header #top_menu {
    float:right;
    margin-top:45px;

/* border:solid 1px #000000; */
}

header #top_menu a:link {
    font-size:16px;
    width:3px; 
	border-right:1px solid black; 
	padding-right:15px;
    color:#000000;
    
}

header #top_menu li.green a:link {
    width:none; 
	border-right:none; 
	padding-right:none;
}


header #top_menu li {
    display:inline;
    margin-left:15px;
}
header #main_menu {
    height:38px;
    margin-top:15px;

/* border:solid 1px #0000ff; */
}
header #main_menu ul {
    width:990px;
    margin:auto;
/* border:solid 1px #ff0000; */
    padding-top:12px;
    text-align:center;  
    padding:7px 0 7px 10px;
    border-bottom:solid 1px #000000;
    
}
header #main_menu li {
    display:inline;
    margin:0 57px;
    font-size:18px;
    color:#000000;
 
}
header #main_menu li.red a:link {
	 border-radius: 25px;
  background: #EAEAEA;
  padding: 5px; 

}

/* 메인 콘텐츠 */
section#main {
	width: 1000px;
	margin:80px auto;
	
	
}
div#notice_title{
	font-size:18px;
	color: #000000;
	text-align: center;
}
/* 공지사항 */
section#notice {
	float:left;
	width:200px;
	height: 350px;
	border-right: 1px solid;
	margin: 30px 0px 0px 90px;
	color: #000000;
	font-size:16px;
	
}
div#game_board_title{
	font-size:18px;
	color: #000000;
	text-align: center;
}
/* 게임 게시판 */
section#game_board {
	float:left;
	width:200px;
	height: 350px;
	border-right: 1px solid;
	margin: 30px auto;
	color: #000000;
	font-size:16px;
}
div#shareinfo_title{
	font-size:18px;
	color: #000000;
	text-align: center;
}
/* 정보공유게시판 */
section#shareinfo {
	float:left;
	width:200px;
	height: 350px;
	border-right: 1px solid;
	margin: 30px auto;
	color: #000000;
	font-size:16px;
}
div#qna_title{
	font-size:18px;
	color: #000000;
	text-align: center;
}
/* Q&A */
section#qna {
	float:left;
	width:200px;
	height: 350px;
	margin: 30px auto;
	color: #000000;
	font-size:16px;
}

.name{
        width: 200px;     
        text-overflow: ellipsis;  
        white-space: nowrap;    
        overflow: hidden;    
        display: block;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
}
footer #page {
  margin:0 auto; 
  left: 0;
  bottom: 0;
  width: 100%;

}
footer #footer_menu {
    width:1000px;
    height: 50px;
    margin:0 auto;
}
footer #footer_menu ul {
	text-align: center;
}
#footer_menu li {
	display: inline-block;
	border-right: 1px solid;
	padding: 0px 20px 0px 20px;
	margin: 5px 0px 5px 0px;
}
#footer_menu li:last-child {
	border-right: none;
}
footer #section #footer_address {
	width: 1000px;
	height: 50px;
}

